{% extends 'main/index.html' %}

{% if search %}
    {% block title %}
        <title>Search</title>
    {% endblock %}}
{% endif %}


{% block content %}
    {% if search %}
        <div class="card">
            <div class="card-body">
                <form action="/search/" method="post" class="">
                    {% csrf_token %}
                    <div>
                        <h3>Search</h3>
                    </div>
                    {% if form.subject.errors %}
                        <ol>
                        {% for error in form.subject.errors %}
                            <li><strong>{{ error|escape }}</strong></li>
                        {% endfor %}
                        </ol>
                    {% endif %}
                    {{ form }}
                    <input type="submit" class="form-control mt-2 btn-info" value="Search">
                </form>
            </div>
        </div>
    {% endif %}

    {% if catalog or search_done %}
        {% if entries %}
            {% for entry in entries %}
               <div class="card my-2 entry-card">
                   <a href="{% url 'detail' entry.id %}">
                       <div class="card-body">
                           {{ entry.name }}
                       </div>
                   </a>
               </div>
            {% endfor %}
        {% else %}
            {% if search %}
                <p>Search returned no results.</p>
            {% else %}
                <p>No courses are available.</p>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}