{% extends 'main/index.html' %}

{% block title %}
    <title>{{ entry.name }}</title>
{% endblock %}}

{% block content %}
    <div class="card mt-xl-3">
        <div class="card-body">
            <h5 class="text-center">
                <strong>{{ entry.name }}</strong>
            </h5>
            <div class="row">
                <div class="col-sm-4 detail-img">
                    <img class="responsive" height="300px" width="300px" src="{{ entry.image.url }}" alt="{{ entry.name }} image">
                </div>
                <div class="col-sm-8 d-flex align-items-center">
                    <span class="text-break ">{{ entry.desc }}</span>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <div class="mx-2 row">
                    <div class="mr-2">
                        <strong>Date:</strong>
                    </div>
                    {{ entry.start_date }} - {{ entry.end_date }}
                </div>
                <div class="mx-2 row">
                    <div class="mr-2">
                        <strong>Price:</strong>
                    </div>
                    <div class="data">
                        {{ entry.price }}$
                    </div>
                </div>
            </div>
    </div>
    </div>
{% endblock %}}