<div class="bg-info mb-2">
    <div class="row px-2">
        <div class="p-3">
            <strong><a class="top-link" href="{% url 'index' %}">Catalog</a></strong>
        </div>
        <div class="p-3">
            <strong><a class="top-link" href="{% url 'search' %}">Search</a></strong>
        </div>
    </div>
</div>