<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Catalog</title>
    {% endblock %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/index.css' %}">
</head>
<body>
<div class="wrapper">
    {% include 'main/header.html' %}
    <div class="container container-fluid content">
        {% block content %} {% endblock %}
    </div>
    <div class="footer">
        {% include 'main/footer.html' %}
    </div>
</div>
</body>
</html>