* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /*max-height: 100vh;*/
}

.top-link {
    color: black !important;
    font-size: 22px;
}

.entry-card {
    border-radius: 10px;
}

.entry-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.footer {
    margin-top: auto;
}

.detail-img {
    max-height: 300px;
    max-width: 300px;
    min-height: 50px;
    min-width: 50px;
}

.responsive {
  width: 100%;
  object-fit: cover;
}

/* copy of form-control for personal use */
form input, textarea {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgb(206, 212, 218);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}